body {
  margin: 0;
  padding: 0;
  background: #c4c4c4;
  min-height: 100vh;
}

header {
  margin: 0;
  padding: 0;
  
}

.up_bar {
  padding: 0;
  margin: 0;
  height: 100px;
  background-image: url("reference/up_bar.png");
  background-size: 107% 100px;
  background-position: -15px -5px;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
  display: flex;
}
@media(min-width: 769px) {
  .up_bar {
    height: 130px;
    background-size: 107% 150%;
    background-position: -15px -60px;
  }
}

.logo_brand img {
  width: 100px;
  object-position: -30px;
}
@media(min-width: 769px) {
  .logo_brand img {
    width: 150px;
  }
}
.logo_brand a {
  -webkit-tap-highlight-color: transparent;
}
.logo_brand a:active, .logo_brand a:focus {
  background: none;
}
  
.navigation ul {
  padding: 0 0 100px 0;
}

.navigation ul li {
  float: left;
  list-style: none;
  margin-right: 10px;
  padding-top: 13px;
}
.navigation ul li a:active, navigation ul li a:focus {
  background: none;
}
.navigation ul li a {
  text-decoration: none;
  color: black;
  font-size: 22px;
  -webkit-tap-highlight-color: transparent;
}
@media(min-width: 769px) {
  .navigation ul li a {
    font-size: 50px;
    padding-left: ;
  }
  
  .navigation ul li {
    padding-top: 13px;
  }
  .navigation ul {
    padding-left: 90px;
  }
}

.catalog:active, .catalog:focus, .new:active, .new:focus {
  background: none;
}
.catalog, .new {
  position: relative;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}
.catalog::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2C83A8;
  filter: blur(20px);
  z-index: -1;
}

.search_bar {
  height: 50px;
  background: whitesmoke;
  margin-top: -17px;
  border-radius: 0 0 10px 10px;
}
@media(min-width: 769px) {
  .search_bar {
    height: 100px;
  }
}

.search {
  text-align: center;
  padding-top: 17px;
}
@media(min-width: 769px) {
  .search {
    padding-top: 45px;
  }
}

.search input {
  border-radius: 15px;
  border: none;
  height: 25px;
  background-image: url("https://avatars.mds.yandex.net/i?id=12efdfb7a958a6f54f5730beaa0a9a711e14cb83-5206685-images-thumbs&n=13");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: 99% 2px;
}
@media(min-width: 769px) {
  .search input {
    width: 80%;
    height: 45px;
    background-size: 35px 35px;
    background-position: 100% 7px;
    font-size: 20px;
  }
}
/*------- main -------*/

.container_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  margin-top: 15px;
  flex: 1;
  min-height: 52.5vh;
}
@media(min-width: 769px) {
  .container_cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

.no-results-message {
  text-align: center;
  font-size: 18px;
  padding-left: 15vh;
  color: #666;
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}


.card {
  background: #0f0f0f;
  border-radius: 10px;
  color: white;
  margin: 1%;
}

.img, .img img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card_title {
  text-align: center;
  font-family: serif;
}

.price {
  color: brown;
  text-align: center;
  font-family: serif;
}
@media(min-width: 769px) {
  .card_title {
    font-size: 20px;
  }
  .price {
    font-size: 20px;
  }
}


/*-------footer-------*/
.bg_footer {
  padding: 0;
  height: 50px;
  background-image: url("reference/footer.png");
  background-size: 102% 200%;
  background-position: 0 -49px;
  position: relative;
  z-index: 2;
  display: flex;
  margin-bottom: 0;
}
@media(min-width: 769px) {
  .bg_footer {
    height: 100px;
    background-size: 105% 130%;
    background-position: -10px -51px;
  }
}

footer {
  margin: 0;
  padding: 0;
  background: #0C0C1C;
  margin-top: auto;
}

.footer_info p {
  margin: 0;
  padding-top: 20px;
  color: white;
  text-align: center;
  font-size: 12px;
  font-family: roboto;
  padding-bottom: 20px;
  border-top: 2px dashed whitesmoke;
}
@media(min-width: 769px) {
  .footer_info p {
    margin: 0;
    font-size: 12px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.footer_menu ul {
  margin: 0;
  display: flex;
  padding-left: 33%;
}
@media(min-width: 769px) {
  .footer_menu ul {
    padding-left: 0;
    margin: 0;
    justify-content: center;
  }
}

.footer_menu ul li {
  float: left;
  list-style: none;
  margin: 10px;
}
@media(min-width: 769px) {
  .footer_menu ul li {
    
  }
}

.footer_menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-family: roboto;
  -webkit-tap-highlight-color: transparent;
}
@media(min-width: 769px) {
  .footer_menu ul li a {
    font-size: 20px;
  }
}
