body {
  margin: 0;
  padding: 0;
  background: #c4c4c4;
  min-height: 100vh;
}

header {
  margin: 0;
  padding: 0;
  
}

.up_bar {
  padding: 0;
  margin: 0;
  height: 100px;
  background-image: url("reference/up_bar.png");
  background-size: 107% 100px;
  background-position: -15px -5px;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
  display: flex;
}
@media(min-width: 769px) {
  .up_bar {
    height: 130px;
    background-size: 107% 150%;
    background-position: -15px -60px;
  }
}

.logo_brand img {
  width: 100px;
  object-position: -30px;
}
@media(min-width: 769px) {
  .logo_brand img {
    width: 150px;
  }
}
.logo_brand a {
  -webkit-tap-highlight-color: transparent;
}
.logo_brand a:active, .logo_brand a:focus {
  background: none;
}
  
.navigation ul {
  padding: 0 0 100px 0;
}

.navigation ul li {
  float: left;
  list-style: none;
  margin-right: 10px;
  padding-top: 13px;
}
.navigation ul li a:active, navigation ul li a:focus {
  background: none;
}
.navigation ul li a {
  text-decoration: none;
  color: black;
  font-size: 22px;
  -webkit-tap-highlight-color: transparent;
}
@media(min-width: 769px) {
  .navigation ul li a {
    font-size: 50px;
    padding-left: ;
  }
  
  .navigation ul li {
    padding-top: 13px;
  }
  .navigation ul {
    padding-left: 90px;
  }
}

.catalog:active, .catalog:focus, .new:active, .new:focus {
  background: none;
}
/*-------main-------*/

main {
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
  gap: 5%;
}

.phone {
  border: 1px solid;
  border-radius: 10px;
  background: #F2F3F4;
  text-align: center;
  margin-top: 8%;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}
.phone ul{
  background: white;
  border-top: 1px solid;
  border-radius: 10px;
  margin-bottom: auto;
}
.phone ul li {
  font-family: serif;
  list-style: none;
  margin-top: 5px;
  padding-bottom: 5px;
  margin-left: -55%;
}

.contacts {
  border: 1px solid;
  border-radius: 10px;
  background: #F2F3F4;
  text-align: center;
  margin-top: 8%;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}
.contacts ul{
  background: white;
  border-top: 1px solid;
  border-radius: 10px;
  margin-bottom: auto;
}
.contacts ul li {
  font-family: serif;
  list-style: none;
  margin-top: 5px;
  margin-left: -55%;
  padding-bottom: 5px;
}

.pochta {
  border: 1px solid;
  border-radius: 10px;
  background: white;
  margin-left: 12%;
  margin-top: 8%;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}
.pochta ul li {
  font-family: serif;
  list-style: none;
  text-align: center;
  margin-left: -20%;
  padding-top: 5px;
  padding-bottom: 5px;
}


.contacts2 {
  border: 1px solid;
  border-radius: 10px;
  background: #F2F3F3;
  text-align: center;
  margin-top: 8%;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}
.contacts2 ul {
  border-top: 1px solid;
  border-radius: 10px;
  margin-bottom: auto;
  background: white;
}
.contacts2 ul li {
  font-family: serif;
  list-style: none;
  margin-left: -55%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.ps {
  width: 55%;
  height: 25%;
  border: 1px solid;
  border-radius: 10px;
  background: #F2F3F3;
  text-align: center;
  margin-top: 20%;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}
.ps ul {
  border-top: 1px solid;
  border-radius: 10px;
  margin-bottom: auto;
  background: white;
}
.ps ul li {
  font-family: serif;
  list-style: none;
  margin-left: -25%;
  padding-top: 5px;
  padding-bottom: 5px;
}

/*-------footer-------*/
.bg_footer {
  padding: 0;
  height: 50px;
  background-image: url("reference/footer.png");
  background-size: 102% 200%;
  background-position: 0 -49px;
  position: relative;
  z-index: 2;
  display: flex;
  margin-bottom: 0;
}
@media(min-width: 769px) {
  .bg_footer {
    height: 100px;
    background-size: 105% 130%;
    background-position: -10px -51px;
  }
}

footer {
  margin: 0;
  padding: 0;
  background: #0C0C1C;
  margin-top: auto;
}

.footer_info p {
  margin: 0;
  padding-top: 20px;
  color: white;
  text-align: center;
  font-size: 12px;
  font-family: roboto;
  padding-bottom: 20px;
  border-top: 2px dashed whitesmoke;
}
@media(min-width: 769px) {
  .footer_info p {
    margin: 0;
    font-size: 12px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.footer_menu ul {
  margin: 0;
  display: flex;
  padding-left: 33%;
}
@media(min-width: 769px) {
  .footer_menu ul {
    padding-left: 0;
    margin: 0;
    justify-content: center;
  }
}

.footer_menu ul li {
  float: left;
  list-style: none;
  margin: 10px;
}
@media(min-width: 769px) {
  .footer_menu ul li {
    
  }
}

.footer_menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-family: roboto;
  -webkit-tap-highlight-color: transparent;
}
@media(min-width: 769px) {
  .footer_menu ul li a {
    font-size: 20px;
  }
}
