
body {
  margin: 0;
  padding: 0;
  background: whitesmoke;
}

header {
  margin: 0;
  padding: 0;
  
}

.up_bar {
  padding: 0;
  margin: 0;
  height: 100px;
  background-image: url("reference/up_bar.png");
  background-size: 105% 100px;
  background-position: -15px -5px;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
  display: flex;
}
@media(min-width: 600px) {
  .up_bar {
    height: 130px;
    background-size: 105% 150%;
    background-position: -15px -60px;
  }
}

.logo_brand img {
  width: 100px;
  object-position: -30px;
}
@media(min-width: 600px) {
  .logo_brand img {
    width: 150px;
  }
}
.logo_brand a {
  -webkit-tap-highlight-color: transparent;
}
.logo_brand a:active, .logo_brand a:focus {
  background: none;
}
  

.navigation ul {
  padding: 0 0 100px 0;
}

.navigation ul li {
  float: left;
  list-style: none;
  margin: 10px;
}
.navigation ul li a:active, navigation ul li a:focus {
  background: none;
}
.navigation ul li a {
  text-decoration: none;
  color: black;
  font-size: 22px;
  -webkit-tap-highlight-color: transparent;
}
@media(min-width: 600px) {
  .navigation ul li a {
    font-size: 50px;
  }
  .navigation ul li {
    margin: 20px 50px 0px 90px;
  }
}


.info_brand {
  margin-top: -20px;
  position: relative;
  padding-top: 40px;
  background-image: url("reference/info_brand.jpg");
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin-bottom: -20px;
}

.info_brand h2 {
  color: white;
  text-align: center;
  font-size: 45px;
  margin-top: 0;
  font-family: Georgia, serif;
}
@media(min-width: 600px) {
  .info_brand h2 {
    font-size: 90px;
  }
}
  

.info_brand p {
  color: white;
  font-family: "Great Vibes", cursive;
  font-weight: 550;
  font-style: normal;
  text-align: center;
  font-size: 40px;
  padding: 10px;
  margin: 0;
  line-height: 0.85;
}
@media(min-width: 600px) {
  .info_brand p {
    font-size: 60px;
    line-height: 1;
  }
}

h1 {
  font-family: serif;
  justify-content: space-between;
  font-size: 45px;
  text-align: center;
  margin: 0;
  padding: 0 0 20px 0;
}
@media(min-width: 600px) {
  h1 {
    font-size: 80px;
  }
}



/*-------main-------*/

.main_bar{
  width: 100%;
  height: 50px;
  background-image: url("reference/up_bar.png");
  transform: rotate(180deg);
  background-size: 106% 100px;
  background-position: -10px -51px;
  margin-bottom: -5px;
}
@media(min-width: 600px) {
  .main_bar {
    height: 100px;
    background-size: 105% 150%;
    background-position: -10px -51px;
  }
}

main {
  margin: 0;
  padding: 0;
}

.display {
  padding-left: 20%;
  display: flex;
  flex-wrap: no-wrap;
  justify-items: flex-start;
  gap: 15px;
  text-align: center;
}


main .bg_prod {
  background: #2CA8DE;
  background-image: url("reference/back.png");
  background-size: 115% 100%;
}

.card_product {
  width: 35%;
  text-align: center;
  height: auto;
  margin-bottom: 10px;
}


.card_product_2 {
  width: 35%;
  text-align: center;
  height: auto;
  margin-bottom: 10px;
}
.card {
  width: 100%;
  background: white;
  justify-content: center;
  border-radius: 15px;
  padding: 0;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.card img{
  text-align: center;
  width: 100%;
  border-radius: 10px;
}
.card_img {
  width: 100%;
  box-shadow: inset 0 -2px 0 rgba(139, 69, 19, 0.3);
  border-radius: 10px;
  text-align: center;
}

.info_card {
  margin: 0;
  padding: 0;
  font-size: 130%;
}

.price {
  color: brown;
  font-size: 25px;
  font-family: "Great Vibes", cursive;
  font-weight: 600;
}

.popular {
  padding: 0;
  margin: 0;
  height: 50px;
  background-image: url("reference/up_bar.png");
  background-size: 105% 100px;
  background-position: -15px -55px;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
  display: flex;
}
@media(min-width: 600px) {
  .popular {
    height: 100px;
    background-size: 105% 150%;
    background-position: -10px -51px;
  }
}

.popularity {
  background-image: url("reference/info_brand.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-top: -20px;
  position: relative;
  padding-top: 10px;
  padding: 20px;
  margin-bottom: -20px;
  color: white;
  font-family: "Great Vibes", cursive;
}

.popular_dubl{
  padding: 0;
  margin: 0;
  height: 50px;
  background-image: url("reference/up_bar.png");
  background-size: 105% 100px;
  background-position: -12px -55px;
  background-repeat: no-repeat;
  position: relative;
  transform: rotate(180deg);
  z-index: 2;
  display: flex;
}
@media(min-width: 600px) {
  .popular_dubl {
    height: 100px;
    background-size: 105% 150%;
    background-position: -10px -51px;
  }
}

.star {
  display: flex;
  align-items: stretch;
  background: #2CA8DE;
}
.star_product {
  padding-left: 15%;
  width: 35%;
  height: auto;
  margin-bottom: 15px;
  text-align: center;
  border-radius: 10px
}
.star_card {
  border-radius: 10px;
  width: 100%;
  background: white;
  justify-content: center;
  padding: 0;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
.star_info {
  width: 50%;
  margin-left: 15px;
  text-align: center;
  line-height: 1;
  font-size: 17px;
  font-family: serif;
}
@media(min-width: 600px) {
  .star_info {
    font-size: 40px;
  }
  .info_card {
    font-size: 40px;
  }
  .price {
    font-size: 40px;
  }
  .popularity {
    font-size: 100px;
  }
}
.card_img img {
  width: 100%;
  border-radius: 10px;
}


.label_for h2 {
  text-align: center;
  padding-bottom: 20px;
  font-size: 55px;
  font-family: serif;
}
@media(min-width: 600px) {
  .label_for h2 {
    font-size: 90px;
  }
}

.for_product {
  padding-top: 20px;
  background: linear-gradient(#2CA8DE ,whitesmoke);
  background-size: 100% 50%;
  background-repeat: no-repeat;
}
.for_products {
  margin: 23.6px;
}
@media(min-width: 600px) {
  .for_products {
    margin: 62px;
  }
}

.stap_1, .stap_3 {
  background: white;
  width: 100%;
  display: flex;
  margin-left: 7%;
  margin-bottom: 40px;
  border: 1px solid;
  border-radius: 20px 0 0 20px;
  box-shadow: -5px 5px 8px rgba(0, 0.8, 0, 0.5);
}
@media(min-width: 600px) {
  .stap_1, .stap_3 {
    margin-bottom: 120px;
    box-shadow:
    -15px 15px 18px rgba(0, 0, 0, 0.4);
  }
}

.stap_2, .stap_4 {
  background: white;
  width: 100%;
  display: flex;
  text-align: right;
  flex-direction: row-reverse;
  margin: -10%;
  margin-bottom: 10px;
  align-items: stretch;
  border: 1px solid;
  border-radius: 0 20px 20px 0;
  box-shadow:
  5px 5px 8px rgba(0, 0, 0, 0.4);
}
@media(min-width: 600px) {
  .stap_2, .stap_4 {
    margin-bottom: 40px;
    box-shadow:
    15px 15px 18px rgba(0, 0, 0, 0.4);
  }
}

.stap1_img, .stap3_img {
  width: 80%;
  height: auto;
  padding-right: 10px;
}
.stap2_img, .stap4_img {
  width: 80%;
  height: auto;
  padding-left: 10px;
}


.stap1_img img {
  width: 100%;
  height: 100%;
  border-radius: 19px 0 0 19px;
}
.stap2_img img {
  width: 100%;
  height: 100%;
  border-radius: 0 19px 19px 0;
}
.stap3_img img {
  width: 100%;
  height: 100%;
  border-radius: 19px 0 0 19px;
  box 0.4);
}
.stap4_img img {
  width: 100%;
  height: 100%;
  border-radius: 0 19px 19px 0;
  box 0.4);
}

.info_stap {
  width: 100%;
  height: 100%;
  font-size: 17px;
  align-items: center;
  font-family: serif;
}
@media(min-width: 600px) {
  .info_stap {
    font-size: 50px;
  }
}


/*-------footer-------*/
.bg_footer {
  padding: 0;
  height: 50px;
  background-image: url("reference/footer.png");
  background-size: 100% 200%;
  background-position: 0 -49px;
  position: relative;
  z-index: 2;
  display: flex;
  margin-bottom: 0;
}
@media(min-width: 600px) {
  .bg_footer {
    height: 100px;
    background-size: 105% 130%;
    background-position: -10px -51px;
  }
}

footer {
  margin: 0;
  padding: 0;
  background: #0C0C1C;
}

.footer_info p {
  margin: 0;
  padding-top: 20px;
  color: white;
  text-align: center;
  font-size: 12px;
  font-family: roboto;
  padding-bottom: 20px;
  border-top: 2px dashed whitesmoke;
}
@media(min-width: 600px) {
  .footer_info p {
    font-size: 20px;
  }
}

.footer_menu ul {
  margin: 0;
  display: flex;
  padding-left: 33%;
}
@media(min-width: 600px) {
  .footer_menu ul {
    padding-left: 0;
    margin: 0;
    justify-content: center;
  }
}

.footer_menu ul li {
  float: left;
  list-style: none;
  margin: 10px;
}
@media(min-width: 600px) {
  .footer_menu ul li {
    
  }
}

.footer_menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-family: roboto;
}
@media(min-width: 600px) {
  .footer_menu ul li a {
    font-size: 20px;
  }
}
